{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <h4>Здравствуйте! Спасибо, что вы согласились принять участие в нашем эксперименте :)</h4>
    <p>Мы изучаем словосочетание "заклятые друзья" - является ли оно грамматичным с точки зрения
        носителей русского языка, а также какие у него могут быть значения и насколько оно распространено.</p>
    <p>Сначала мы попросим вас заполнить небольшую анкету с информацией о вас, а затем
        вам будут предложены вопросы об этом словосочетании.</p>
    <p>Пожалуйста, помните, что правильных ответов нет и любой ваш выбор приемлем!</p>
    <p>Все ваши ответы будут анонимизированы и использованы в обобщенном виде.</p>
    <p>После заполнения анкеты вы также сможете посмотреть общую статистику по ответам
        в разделе "Статистика" главного меню.</p>
    <h4>Если вы готовы приступить к выполнению эксперимента, нажмите кнопку Далее.</h4>

    <button type="button" class="btn btn-primary" onclick="window.location.href = '/form';">Далее</button>
{% endblock %}